@model List<DBStoreSport.Models.OrderDetail>

<h3>Chi tiết đơn hàng</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.NamePro</td>
                <td>@(item.UnitPrice.HasValue ? item.UnitPrice.Value.ToString("N0") : "") đ</td>
                <td>@item.Quantity</td>
                <td>@((item.UnitPrice ?? 0) * (item.Quantity ?? 0))đ</td>
            </tr>
        }
    </tbody>
</table>
